body {
    background-color: black
}
h1 {
    font-family: "Futura", Arial, sans-serif;
    color: white;
}

.site {
    margin:0 auto;
    width:50%;
    min-width: 100px;
    padding: 0;
}

.title {
    float: left;
    width: 50%;
}

.score {
    float: right;
    text-align: right;
}

.score-constant {
    margin-bottom: 0;
}

.score-value {
    margin-top: 0;
}

.instructions{
    width: 100%;
    text-align: center;
}

.square {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%; /* = width for a 1:1 aspect ratio */
    margin: 0;
    background-color: gray;
    overflow: hidden;
}

.tile {
    position: absolute;
    height: 100%; 
    width: 100%;
}

.tile h1 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.color-0 {
    background-color: #7f7f7f;
}
.color-2 {
    background-color: #ff0000;
}
.color-4 {
    background-color: #ff7f00;
}
.color-8 {
    background-color: #ffff00;
}
.color-16 {
    background-color: #afff00;
}
.color-32 {
    background-color: #00ff00;
}
.color-64 {
    background-color: #00edff;
}
.color-128 {
    background-color: #00ffff;
}
.color-256 {
    background-color: #0086ff;
}
.color-512 {
    background-color: #0000ff;
}
.color-1024 {
    background-color: #7c00ff;
}
.color-2048 {
    background-color: #ff00ff;
}