@font-face
{
font-family: camingocode;
src: url("CamingoCode-Bold-webfont.woff") format("woff");
}

body {
    background-color: black;
}

#my-body {
    margin: 0;
}

h1 {
    font-family: camingocode, Arial, sans-serif;
    color: white;
    margin: 0;
    line-height: 1;
}

.site {
    margin:0 auto;
    width: 60vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.board {
    float: left;
    width: 60vh;
    height: 60vh;
}

.headings {
    float: left;
    width: 50%;
    font-size: 4vh;
    margin: 3vh 0 2vh 0;
}

.score {
    text-align: right;
}

.score-constant {
    margin-bottom: 0;
}

.score-value {
    margin-top: 0;
}

.instructions{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    margin: 2vh 0 4vh 0;
}

.tile {
    float:left;
    width: 15vh;
    height: 15vh;
    background-color: hsl(0,0%,90%);
}

.tile h1 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 6vh;
}

.color-2 {
    background-color: hsl(0,100%,70%);
}
.color-4 {
    background-color: hsl(30,100%,70%);
}
.color-8 {
    background-color: hsl(60,100%,70%);
}
.color-16 {
    background-color: hsl(80,100%,70%);
}
.color-32 {
    background-color: hsl(120,100%,70%);
}
.color-64 {
    background-color: hsl(160, 100%,70%);
}
.color-128 {
    background-color: hsl(200,100%,70%);
}
.color-256 {
    background-color: hsl(230,100%,70%);
}
.color-512 {
    background-color: hsl(260,100%,70%);
}
.color-1024 {
    background-color: hsl(280,100%,70%);
}
.color-2048 {
    background-color: hsl(310,100%,70%);
}